
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300&family=Montserrat:wght@300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;




html {
    font-size: 15px !important;
}

body {
    font-family: 'Montserrat', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Montserrat', sans-serif;

}
p, span, a, label {
    font-family: 'Assistant', sans-serif

}


.bg-bag {
    background-image: url(/src/lib/assets/pro.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

}
.bg-wave {
    background-image: url(/src/lib/assets/wave-abs.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

}

.bg-wave2 {
    background-image: url(/src/lib/assets/wave2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    
}

.bg-continent {
    background-image: url(/src/lib/assets/continental.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;   
}

/* cusroms */
.custom-shadow {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
